/* product block */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

input, button {
    border: none;
}

.wrap-wait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.block-wait {
    width: 300px;
    height: 190px;
    overflow: hidden;
}
.no-reviews {
    margin-top: 12px;

    font-weight: 600;
    font-size: 22px;
    color: rgb(4, 25, 41);
    
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: flex-end;
}
.mt17 {
    margin-top: 17px;
}
.mt15 {
    margin-top: 17px;
}
.relative {
    position: relative;;
}
.wrapper-product {
    background-color: #f8fafb;
    height: 660px;

    padding-top: 130px;
    font-family: 'Ubuntu';
}
.wrap-product {
    width: 950px;
    margin: 0 auto;

}
.block-product {
    display: flex;
    justify-content: space-around;
}
.product-box {

}
.product-desciption {
    position: relative;
}
.product-title {
    font-weight: 700;
    font-size: 32px;
    color: rgb(24, 67, 99);
    line-height: 38px;
    text-transform: capitalize;
}
.product-review {
    display: flex;
}
.product-review span {
    font-weight: 400;
    font-size: 14px;
    color: rgb(86, 119, 143);
    line-height: 23px;

    display: inline-block;
    margin-bottom: -4px;
    margin-left: 10px;
}
.star {
}

.wrapper-buttons {

}
.wrap-amount {
    display: flex;
    width: 100%;
    justify-content: space-between;

    padding-bottom: 12px;
    margin-bottom: 19px;
    border-bottom: 1px solid #abd4f3;
}
.amount_text {
    font-weight: 700;
    font-size: 16px;
    color: rgb(23, 43, 58);
    line-height: 22px;
}
.amount_text-number {
    font-weight: 400;
    font-size: 14px;
    color: rgb(23, 43, 58);
    line-height: 22px; 
}
.wrap-buy {
    padding: 24px 18px;
    background-color: white;

    border-radius: 7px;
            box-shadow: 0 0.5rem 1rem 0 rgb(24 67 99 / 10%), 0 1px 2px 0 rgb(24 67 99 / 10%);

}

.add_basket {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg,#f5b840,#f2971f);;
    width: 525px;
    height: 70px;
    padding: 24px;
    box-sizing: border-box;

    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    transition: all linear .2s;
}
.add_basket:hover {
    transform: scale(1.02);
}
.text-style {
    font-weight: 700;
    font-size: 13px;
    color: rgb(24, 67, 99);
    line-height: 20px;
    letter-spacing: 1px;

    text-transform: uppercase;
}
.select-quantity-form {
    
}
.wrap-select-quantity {
    margin-bottom: 35px;
}
.select-quantity-text {
    font-weight: 700;
    font-size: 14px;
    color: rgb(24, 67, 99);
    
    margin-bottom: 12px;
}
.select-quantity-input {
    width: 524px;
    height: 44px;
    border: 1px solid rgb(189, 206, 219);
    border-radius: 5px;
    outline: none;
    padding: 12px 16px;
}




/* out of stock block */
.wrap-out_stock {
    width: 525px;
    height: 85px;
    padding: 16px;  

    border-radius: 5px;
    border-top: 5px solid #d76868;

    box-shadow: 0 0.5rem 1rem 0 rgb(23 43 58 / 10%), 0 1px 2px 0 rgb(23 43 58 / 10%);
}
.block-out-stock {
    display: flex;

}
.out_stock-text {
    margin-left: 14px;
}
.danger-text {
    font-weight: 700;
    font-size: 17px;
    color: rgb(215, 104, 104);
    line-height: 22px;
    
}
.sorry-text {
    margin-top: 9px;
        
    font-weight: 400;
    font-size: 15px;
    color: rgb(86, 119, 143);
    line-height: 22px;
    
}

/* end of product block */



/* reviews block */
* {
    box-sizing: border-box !important;
    font-family: 'Ubuntu';
}   

.transition {
    transition: all .5s linear;
}

.change-btn {
    font-weight: 600;
    font-size: 16px;
    color: rgb(23, 43, 58);
    line-height: 22.5px;      
    box-sizing: border-box !important;  
}
.bg-white {
    background: white;
}
.bb {
    border-bottom: 3px solid #3993cf;
}
.p {
    padding: 5px 0;
}
.review-date {
    font-weight: 400;
    font-size: 12px;
    color: rgb(23, 43, 58);
    line-height: 20px;
    
    display: inline-block;
    margin-top: 10px;
}
.wrapper-reviews {
    margin: 140px 0;
}
.wrap-product-name {
    text-align: center;
    margin-bottom: 70px;

    font-weight: 700;
    font-size: 29px;
    color: rgb(24, 67, 99);
    line-height: 40px;
}
.wrap-reviews {
    width: 1100px;
    margin: 0 auto;
}
.reviews-head {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;
    border-top: 1px solid rgb(223, 237, 247);
    border-bottom: 1px solid rgb(223, 237, 247);
}
.block-reviews {
}
.box-review {
    display: flex;
    margin-top: 40px;
    height: 120px;

    border-radius: 3px;
    border: 1px solid rgb(223, 237, 247);
}
.column-first {
    width: 180px;

    padding: 30px;
}
.column-second {
    margin: 30px;
    padding-left: 30px;
    border-left: 1px solid rgb(223, 237, 247);
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.client-name {
}
.product-name {
    font-weight: 600;
    font-size: 16px;
    color: rgb(23, 43, 58);
    line-height: 22px;
}
.client-review {
    font-weight: 400;
    font-size: 15px;
    color: rgb(23, 43, 58);
    line-height: 21px;
}

.display {
    visibility: hidden;
    display: none;
}   
/* end of reviews block */

/* ============================================ last changes */

/* chart js */
.product-price {
    position: absolute;
    right: 0;
    top: -25px;

    font-weight: 500;
    font-size: 23px;
    color: rgb(57, 203, 116);
    line-height: 23px;   
    cursor: pointer;
}

.data-prices {
    position: absolute;
    right: 0;
    bottom: 23px;
}

.block-chart-price {   
    display: inline-block;
    width: 500px;
    height: 300px;
    position: absolute;
    background-color: white;
    padding: 20px;
    right: 30px;
    top: 30px;

    border-radius: 5px;
    visibility: hidden;
    transform: scale(0);
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.data-prices:hover div {
    visibility: visible;
    transform: scale(1);
}
.rating {
    font-weight: 600;
    font-size: 26px;
    color: #957FEF;
    line-height: 25px;
    
    margin-right: 7px;
}
/* chart js */

/* ============================================ last changes */

