@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
a {
    text-decoration: none;
}
body {
    background-color: #f8fafb;
}

/* account header  */

.profile-header {
    background-image: linear-gradient(-45deg,#16bce5,#1496e1);
}
.block-profile-header {
    width: 1120px;
    height: 174px;
    margin: 0 auto;
    padding: 48px 24px;
}
.your-account-text {
    margin-bottom: 15px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.block-account {
    display: flex;
    justify-content: space-between;
}
.welcome-username {
    font-weight: 700;
    font-size: 29px;
    color: white;    

    vertical-align: baseline;
}
.account-buttons {
    display: flex;
    align-items: flex-end;    
}
.update-btn {
    color: wheat;
}
.logout-btn {
    color: wheat;
    margin-left: 25px;
}
.account-button-effect {
    transition: transform .3s linear;
}
.account-button-effect:hover {
    color: white;
    transform: scale(1.05);
}
/* account header  */

button {
    border: none;
    outline: none;
}

input {
    outline: none;
    border: 1px solid rgb(189, 206, 219);
    padding: 12px 16px;
    border-radius: 4px;

    transition: all .2s linear;

    width: 340px;
}
input:hover {
    border-color: #1496e1;
}


.wrapper-update {
    margin-top: 50px;
}
.block-update {
    width: 720px;
    margin: 0 auto;
}
.update-profile-form {
}
.profile-name {
    display: flex;
    gap: 30px;
}
.profile-update-block {
    margin-top: 15px;
}
.label {
    font-weight: 700;
    font-size: 14px;
    color: rgb(24, 67, 99);  
    
    margin-bottom: 10px;
}
.update-name-input {
}
.update-email-input {
    width: 710px;
}
.submit-update-btn {
    background-image: linear-gradient(-45deg,#f5b840,#f2971f);
    padding: 24px;
    margin-top: 24px;
    width: 167px;
    height: 70px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 13px;
    color: rgb(24, 67, 99);    
    text-transform: uppercase;
    transition: transform .3s linear;
}
.submit-update-btn:hover {
    transform: scale(1.05);
}

