@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Ubuntu';
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

._container {
    width: 1200px;
}
.ml20 {
    margin-left: 20px;
}

.product-link {
    display: block !important;
    height: 360px;
    padding: 20px 15px 15px;

    position: relative;
}

.card-product-text {
    margin-left: 10px;
    margin-top: 20px;
    height: 149px;
    position: relative;
}
.product__picture {
    text-align: center;
}
.product__title {
    font-weight: 500;
    font-size: 16px;
    color: rgb(23, 43, 58);
    line-height: 25px;
    
    margin-top: 12px;
}
.product__price {
    font-weight: 500;
    font-size: 16px;
    color: rgb(57, 203, 116);   
    line-height: 25px;

}
.product_review {
    display: flex;
    gap: 10px;
    /* margin-top: 35px; */
    align-items: center;

    position: absolute;
    bottom: 7px;
}
.review-text {
    color: rgb(155, 155, 155);
    font-size: 14px;

}
.product__btn {
    position: absolute;
    bottom: 20px;
    

    background: linear-gradient(-45deg, rgb(245, 184, 64), rgb(242, 151, 31));

    color:  #184363;
    width: 340px;
    height: 52px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-treatments {
    background-color: #f8fafb;
    padding-top: 80px;
    padding-bottom: 120px;
}
.wrap-treatments {
    margin: 0 auto;
}

.block-treatments {
}
.category_name {
    font-weight: 700;
    font-size: 29px;
    color: rgb(24, 67, 99);
    line-height: 35px;   
    text-align: center;
}
.wrapper-grid-treatments {
    margin-top: 32px;
}
.grid {
    display: grid;
    grid-template-columns: 370px 370px;
    gap: 24px;
}
.wrap-grid-item {
    background-color: white;
    box-shadow: rgba(24, 67, 99, 0.1) 0px 8px 16px 0px, rgba(24, 67, 99, 0.1) 0px 1px 2px 0px;

    border-radius: 7px;
    transition: box-shadow linear .3s;
}
.wrap-grid-item:hover {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.grid__item {
    display: block;
    height: 60px;
    padding: 15px 18px;

    font-weight: 500;
    font-size: 18px;
    color: rgb(23, 43, 58);
    line-height: 28px;
    
}



input {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    border: none;
    outline: none;

}

strong {
    margin-bottom: 20px;
    color: rgb(23, 43, 58);    
}
.d-flex{
    display: flex;
}
.wrapper-search-result {
    margin: 0 auto;
}

.wrapper-form {
    background-color: #f8fafb;
}
.block-form {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-bottom: 90px;
    
}
.header-search-filter {
    margin: 12px 0 30px;
}
.search-input-filter {
    width: 1200px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    padding: 20px;
    border-radius: 4px;
}
.wrap-filter {
}
.block-filter-categories {
    display: flex;
    flex-direction: column;
}
.category-checkbox {
    margin-top: 15px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(24, 67, 99);    
}
.block-filter-price {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
}
.price-input {
    width: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    padding: 20px;
    border-radius: 4px;
}

.price-input:not(:first-child) {
    margin-top: 12px;
}



.search-submit-btn {
    margin-top: 40px;
    width: 300px;
    padding: 20px;
    background-image: linear-gradient(-45deg,#f5b840,#f2971f);
    color: #184363;
    font-weight: 600;
    font-size: 13px;    
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: .8px;
    transition: transform .3s linear;
}
.search-submit-btn:hover {
    transform: scale(1.05);
}
.wrap-no-search-result { 
    margin: 180px; 
    width: 100%; 
} 
.no-search-result { 
    text-align: center; 
} 
.result__title { 
    font-weight: 700; 
    color: #184363; 
    font-size: 18px; 
} 
.result__subtitle { 
    font-weight: 400; 
    font-size: 16px; 
    color: rgb(24, 67, 99);  
    margin-top: 8px;    
} 