{% extends 'product/base.html' %}
{% block content%}
<form action="{% url 'add-new-product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form_attribute_container full">
            <span>Title*</span>
            <input type="text" name="title" maxlength="255" required id="id_title">
        </div>
        <div class="form_attribute_container half">
            <span>Price*</span>
            <input type="number" name="price" required id="id_price">
        </div>
        <div class="form_attribute_container half">
            <span>amount*</span>
            <input type="number" name="amount" required id="id_amount">
        </div>
        
        <div class="form_attribute_container half">
            <span>City*</span>
            {{form.category}}
        </div>
        <div class="form_attribute_container half">
            <span>Image*</span>
            <label for="id_main_image">Choose Image</label>
            <input type="file" name="Image" accept="image/*" required id="id_main_image">
        </div>
    <button type="submit">Add</button>
</form>
{% endblock %}