{% extends 'product/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/add_product.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper-login">
        <div class="wrap-login">
            <div class="block-login">
                <div class="login-card-graphics">
                    <img width="288px" height="261px" src="{% static 'images/consultation-start.svg' %}" alt="">
                </div>
                <div class="login-card-content">
                    <form action="{% url 'add-new-product' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Add</button>
                    </form>
                    <div class="wrap-link"><a href="{% url 'profile' %}" class="link-text">Cancel</a></div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}