{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile</title>
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
</head>
<body>
    <header class="profile-header">
        <div class="block-profile-header">
            <div class="your-account-text">
                Your account
            </div>
            <div class="block-account">
                <div class="welcome-username">
                    Edit your profile
                </div>
                <div class="account-buttons">
                    <a href="{% url 'edit-profile' %}" class="update-btn account-button-effect">Update profile</a>     
                    <a href="{% url 'logout' %}" class="logout-btn account-button-effect">Exit</a>
                </div>
            </div>
        </div>
    </header>
    <form action="{% url 'edit-profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapper-update">
            <div class="block-update">
                <div class="update-profile-form">
                    <div class="profile-name">
                        <div class="profile-update-block">
                            <div class="label">First Name</div>
                            <input type="text" name="first_name" id="" class="update-name-input" value="{{user.first_name}}">
                        </div>
                        <div class="profile-update-block">
                            <div class="label">Last Name</div>
                            <input type="text" name="last_name" id="" class="update-name-input" value="{{user.last_name}}">
                        </div>
                    </div>
                    <div class="profile-update-block">
                        <div class="label">Email</div>
                        <input type="email" name="email" class="update-email-input" value="{{user.email}}">
                    </div>
                    <button type="submit" class="submit-update-btn">Update profile</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>