{% extends 'product/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
    <section class="wrapper-welcome">
        <div class="wrap-welcome _container">
            <div class="block-welcome">
                <div class="welcome-first">
                    <div class="welcome-title">Your trusted online pharmacy.</div>
                    <div class="welcome-subtitle">The safe & easy way to buy over 633 treatments online without visiting your GP or pharmacy</div>
                    <div class="welcome-search">
                        <form class="welcome-form" method="get" action="{% url 'search' %}">
                            <input class="welcome-input" name="search" placeholder="Search for a condition or treatment..." type="text" required/>
                            <button class="welcome-btn" type="submit">
                                <img width="18px" height="18px" src="{% static 'design/search.svg' %}" alt="" class="welcome-logo">
                            </button>
                        </form>
                    </div>
                    <div class="welcome-info">
                        <div class="welcome-treatments p24">
                            <div class="treatments-count">
                                <img src="{% static 'design/drug.svg' %}" alt="">
                                <span class="count">12.4k</span>
                            </div>
                            <p class="additional">treatments delivered</p>
                        </div>
                        <div class="welcome-users p24">
                            <div class="users-count">
                                <img src="{% static 'design/avatar.svg' %}" alt="">
                                <span class="count">1 000</span>
                            </div>
                            <p class="additional">registered users</p>
                        </div>
                    </div>
                </div>
                <div class="welcome-picture">
                    <img width="536px" height="357px" class="welcome-image" src="{% static 'design/welcome.svg' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper-treatments">
        <div class="wrap-treatments _container">
            <div class="block-treatments">
                <div class="treatments-title">Popular Treatments</div>
                <div class="treatments-subtitle">
                    We're constantly expanding the treatments that we can provide online to ensure we always have the right treatment for you.
                </div>

                <div class="wrapper-grid-treatments grid">
                    {% for category in categories %}
                        <div class="wrap-grid-item">
                            <a href="{{category.get_absolute_url}}" class="grid__item">{{ category.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper-treatments">
        <div class="wrap-treatments _container">
            <div class="block-treatments">
                <div class="treatments-title">Popular products</div>
                <div class="treatments-subtitle">
                    We're constantly expanding the treatments that we <br> can provide online to ensure we always have the right treatment for you.                
                </div>

                <div class="wrapper-grid-treatments grid">
                    {% for product in top_rating %}
                        <a class="product-link wrap-grid-item" href="{{product.get_absolute_url}}">
                            <div class="product__picture">
                                <img width="100px" height="100px" src="{{product.Image.url}}" alt="abidec">
                            </div>
                            <div class="card-product-text">
                                <div class="product__title">{{product.title}}</div>
                                <div class="product__price">{{product.price}}&#8376;</div>

                                <div class="product_review">
                                    <div class="stars">

                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                    </div>
                                    <p class="review-text">({{product.get_rating_count}} reviews)</p>

                                </div>
                            </div>
                            <div class="product__btn">
                                View details
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}