{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="wrapper-login">
        <div class="wrap-login">
            <div class="block-login">
                <div class="login-card-graphics">
                    <img width="288px" height="261px" src="{% static 'images/consultation-start.svg' %}" alt="">
                </div>
                <div class="login-card-content">
                    <form method="post" class="login-form" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="label text-left">Username</div>
                        <input type="text" name="username" value="{{username}}">
                        <div class="label text-left">Password</div>
                        <input type="password" name="password">
                        <button type="submit" class="signin-btn">sign in to this profile</button>
                    </form>
                    <div class="wrap-link"><a href="{% url 'register' %}" class="link-text">Create an account</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>