{% extends 'product/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper-login">
        <div class="wrap-login">
            <div class="block-login">
                <div class="login-card-graphics">
                    <img width="288px" height="261px" src="{% static 'images/consultation-start.svg' %}" alt="">
                </div>
                <div class="login-card-content">
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                    <form method="post" class="login-form" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="label text-left">Username</div>
                        <input type="text" name="username" value="{{username}}">
                        <div class="label text-left">Password</div>
                        <input type="password" name="password">
                        <button type="submit" class="signin-btn">sign in to this profile</button>
                    </form>
                    <div class="wrap-link"><a href="{% url 'register' %}" class="link-text">Create an account</a></div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}