{% extends 'product/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/_product-page.css' %}">
    <script src="{% static 'js/_product-page.js' %}" defer></script>
{% endblock %}
{% block content %}
    <section>
        <div class="wrapper-product">
            <div class="wrap-product">
                <div class="block-product">
                    <img width="292px" height="292px" src="{{product.Image}}" alt="{{product.title}}">
                    <div class="product-box">

                        <div class="product-desciption">
                            <div class="product-title">{{product.title}}</div>
                            <div class="flex relative">

                                <div class="product-review mt17">
                                    <div class="rating">{{product.get_rating}}</div>
                                    <div class="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                        <img width="24px" src="{% static 'design/star.svg' %}" alt="star">
                                    </div>
                                    <span>({{product.get_rating_count}} reviews)</span>
                                </div>

                                <div class="data-prices">
                                    <!-- <div class="product-price">1240&#8376;</div> -->
                                    <p class="product-price">{{product.price}}&#8376;</p>
                                    <div class="block-chart-price">
                                        <canvas id="myChart" width="460" height="260"></canvas>
                                    </div>
                                </div>                            
                            </div>

                        </div>
                        <div class="wrapper-buttons mt15">

                            <div class="wrap-buy">


                                <!-- IF PRODUCT EXISTS -->
                                {% if product.amount > 0 %}
                                <div class="wrap-amount">
                                    <span class="amount_text">Amount:</span>
                                    <span class="amount_text-number">{{product.amount}}</span>
                                </div>
                                <form class="select-quantity-form" action="{% url 'add-to-basket' %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="product_id" value="{{product.pk}}" hidden>
                                    <div class="wrap-select-quantity">
                                        <div class="select-quantity-text">Select quantity</div>
                                        <input type="number" max="{{product.amount}}" min="1" name="amount" class="select-quantity-input" value="1">
                                    </div>
                                    <button type="submit" class="add_basket text-style">
                                        Add to Basket
                                    </button>
                                </form>
                                {% else %}
                                <!-- ELSE  -->
                                <div class="wrap-out_stock">
                                    <div class="block-out-stock">
                                        <div class="danger-svg">
                                            <img src="design/danger.svg" alt="">
                                        </div>
                                        <div class="out_stock-text">
                                            <div class="danger-text">Out of stock</div>
                                            <div class="sorry-text">Sorry, this item is currently out of stock.</div>
                                        </div>

                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section of product  -->

    <!-- section of reviews  -->
    <section class="wrapper-reviews">
        <div class="wrap-reviews">
            <div class="wrap-product-name">
                {{product.title}} reviews
            </div>
            <div class="reviews-head">
                <input class="input-comment p bg-white change-btn bb" onclick="showComment()" type="button" value="Comments({{comments.count}})">
                <input class="input-feedback p bg-white change-btn" onclick="showFeedback()" type="button" value="Feedback({{reviews.count}})">
            </div>

            <!-- comment  -->

            <div class="block-reviews js-comment transition">
                {% if comments %}
                <!-- block for back end -->
                    {% for comment in comments %}
                    <div class="box-review">
                        <div class="column-first">
                            <div class="client-name">{{comment.user.username}}</div>
                            <span class="review-date">{{comment.get_day}}</span>

                        </div>
                        <div class="column-second">
                            <div class="product-name">{{product.title}}</div>
                            <div class="client-review">{{comment.text}} </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="wrap-wait ta">
                        <div class="block-wait">
                            <img width="300px" height="300px" src="{% static 'design/moon-black.webp' %}" alt="">
                        </div>
                        <div class="no-reviews">No comments yet</div>
                    </div>
                {% endif %}
                <!-- endblock -->

            </div>
            <!-- end comment  -->


            <!-- feedback  -->
            <div class="block-reviews js-feedback display transition">
                <!-- block for back end -->
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="box-review">
                            <div class="column-first">
                                <div class="client-name">{{review.user.username}}</div>
                                <span class="review-date">{{review.get_day}}</span>
                            </div>
                            <div class="column-second">
                                <div class="product-name">{{product.title}}</div>
                                <div class="client-review">{{review.feedback_text}}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="wrap-wait ta">
                        <div class="block-wait">
                            <img width="300px" height="300px" src="{% static 'design/moon-black.webp' %}" alt="">
                        </div>
                        <div class="no-reviews">No reviews yet</div>
                    </div>
                {% endif %}
                <!-- endblock -->
            </div>
            <!-- end feedback -->
        </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script>
        var nodeCommentBtn = document.querySelector('.js-comment');
        var nodeFeedbackBtn = document.querySelector('.js-feedback');
        var nodeComment = document.querySelector('.input-comment');
        var nodeFeedback = document.querySelector('.input-feedback');

        console.log(nodeCommentBtn);

        function showComment() {
            nodeCommentBtn.classList.remove('display');
            nodeFeedbackBtn.classList.add('display');

            nodeComment.classList.add('bb');
            nodeFeedback.classList.remove('bb');
        };

        function showFeedback() {
            nodeCommentBtn.classList.add('display');
            nodeFeedbackBtn.classList.remove('display');

            nodeComment.classList.remove('bb');
            nodeFeedback.classList.add('bb');
        };   

        /* ============================================ last changes */

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for price in price_history %}'{{price.day}}',{%endfor%}],
                datasets: [{
                    label: 'Price Evolution',
                    data: [{% for price in price_history %}{{price.price}},{%endfor%}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        /* ============================================ last changes */

    </script>
{% endblock %}